.section-padding-80
{
    padding-top: 20px;
    padding-bottom: 0px;
}
.breadcrumb-area
{
    height:10px;
}
.classynav ul li.megamenu-item>a:after, .classynav ul li.has-down>a:after
{
    content: none;
}
.fa-gear
{
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
}
.fa-gear:hover
{
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.breakpoint-off .classynav ul li:hover .dropdown
{
    right: 0px !important;
}
.b-d-dotted
{
    border-bottom: 1px dotted gray;
    padding-left: 10px;
    background-color: #fff;
}
.b-d-dotted:hover
{
    background-color: #a9bfd6;
}
.chk
{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.chk-all
{
    width: 15px;
    height: 15px;
}
.highlight
{
    background-color: #a9bfd6;
}
.no-hover:hover
{
    background-color: white;
}
.fa:hover
{
    color:blue;
    cursor: pointer;
}
.btn-small
{
    text-align: center;
    background-color: white;
    border:2px solid #0af;
    border-radius: 50px;
    padding: 5px 30px;
}
li .current-item
{
    color: #0af !important;
}
.btn-small:hover
{
    background-color: #0af;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
td, th
{
    white-space: nowrap;
    padding: 0px 20px;
}
.text-black
{
    color: black !important;
}
.form-control
{
    height:35px !important;
}
button:focus
{
    outline-style: none;
}
.radio
{
    width: 20px;
    height: 20px;
}
.boardeer
{
    border: 1px solid #a7c8fb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px 7px #1583e9;
    margin: 10px 10px;
}
.uza-contact-form textarea.form-control
{
    padding: 15px !important;
}
button
{
    border:none;
    padding: 10px 20px;
}
.tab
{
    overflow: hidden;
    background-color:#eee;
    width: 100%;
    border:1px solid #ddd;
}
.tab button
{
    background-color: white;
    margin:0px;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}
.tab button:hover
{
  background-color: #98d4ff;
}

/* Create an active/current tablink class */
.tab button.active
{
  background-color: #0af;
  color:white;
}

/* Style the tab content */
.tabcontent
{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height:400px;
  animation: fadeEffect 1s;
  overflow: auto;
}
.img-menu
{
    width: 100px;
    border-radius: 5px;
}
.primary
{
    color:#5af;
}
.warning
{
    color:#f14080;
}
.warning:hover
{
    color:red;
}
.mt-10
{
    margin-top: 10px;
}
.align-middle
{
    vertical-align: middle;
}
label
{
    font-size: 16px;
    margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6
{
    line-height: 1em;
}
.mb-0
{
    margin-bottom: 0px;
}
#image-preview:hover
{
    cursor: pointer;
}
.border-black
{
    border:1px solid black;
}
@keyframes fadeEffect
{
  from {opacity: 0;}
  to {opacity: 1;}
}
.btn-xs
{
    height: 30px;
    padding: 0px 20px;
}
.bg-danger
{
    color: white;
    cursor: pointer;
}
.bg-primary
{
    color: white;
    cursor: pointer;
}
.border-t-b
{
    border-bottom: 1px dotted gray;
}
.pb-10
{
    padding-bottom: 10px !important;
}